<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>
<body>
    <div class="footer">
        <div class="infor">
            <div class="infor__VeChungToi list">
                <div class="tittle">về chúng tôi</div>
                    <ul class="infor__list">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Dịch vụ</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
            </div>
            <div class="infor__DieuKhoan list">
                <div class="tittle">điều khoản</div>
                    <ul class="infor__list">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Dịch vụ</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
            </div>
            <div class="infor__HuongDan list">
                <div class="tittle">điều khoản</div>
                    <ul class="infor__list">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Dịch vụ</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
            </div>
            <div class="infor__ChinhSach list">
                <div class="tittle">chính sách</div>
                    <ul class="infor__list">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Dịch vụ</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
            </div>
            <div class="infor__QuaTang list">
                <div class="tittle">đăng ký nhận quà</div>
                <h4>Đăng ký nhận thông tin ưu đãi cùng với khuyến mãi khủng từ Thế Giới Online</h4>
                <div class="enter__infor">
                    <ul>
                        <li><input type="text" placeholder="Email của bạn...." class="enter__infor--box"></li>
                        <li><i class="fa-solid fa-paper-plane"></i></li>
                    </ul>
                </div>
                <div class="enter__infor--another">
                    <ul class="enter__infor--another--list" style="color: white;">
                        <li><p>Kết nối với chúng tôi:</p></li>
                        <li class="another fb" style="background-color:blue;">
                            <a href="https://www.facebook.com/profile.php?id=100013375064252"><i class="fa-brands fa-facebook-f" style="color: white;"></i></a>
                        </li>
                        <li class="another gg" style="background-color:red;">
                            <a href="https://myaccount.google.com/?hl=vi&utm_source=OGB&utm_medium=act&pli=1"><i class="fa-brands fa-google" style="color: white;"></i></a>
                        </li>
                        <li class="another gb" style="background-color:black;">
                            <a href="https://github.com/taobik"><i class="fa-brands fa-github" style="color: white;"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="address">
            <h3 style="text-transform: uppercase;margin-bottom: 10px;">Thế Giới Online</h3>
            <h4>Email: 2051050239@gmail.com</h4>
            <h4>Số điện thoại: 0985623320</h4>
            <h4>Địa chỉ: Phú Yên</h4>
        </div>
    </div>
</body>
</html>