.sanpham > .sanpham_title{
    display: flex;
    font-size:30px;
    font-weight: bolder;
    padding: 0 1rem;
    justify-content: space-between;
}
.sanpham .them{
    height: 3rem;
    width: 4rem;
}
.sanpham .them a{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 100;
    color: white;
    border-radius: 10px;
    background-color: green;
}
.sanpham .body table{
    border: solid 1px rgba(0,0,0,.14);
    border-collapse: collapse;
    width: 100%;
}
.sanpham .body table td,
.sanpham .body table th{
    border: solid 1px rgba(0,0,0,.14);
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    max-width: 35rem;
    height: 3rem;
}
.sanpham .body table td img{
    height:100%;
    width: 3rem;
}